body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.app {
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    transition: background-color 0.3s;
}

.weather-card h2 {
    margin: 0;
}

.weather-card p {
    margin: 5px 0;
}

.toggle-mode {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .weather-card {
    background-color: #444;
}

.dark-mode .search-bar input {
    background-color: #555;
    color: white;
}

.dark-mode .search-bar button {
    background-color: #666;
}


.weather-card h2,
.weather-card p {
    font-weight: bold;
}

.weather-card h2 {
    margin-top: 10px;
}

.weather-card p {
    margin: 5px 0;
    font-weight: normal;
 
}
